<!DOCTYPE html>
<html>
  <!-- about-page.ejs -->
  <head>
    <meta charset="utf-8">
    <title> Hello, Express! </title>

    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <h1> About Page </h1>
    <a href="/"> Home </a>
    <img src="/images/cat.gif">

    <script src="/js/frontend.js"></script>
  </body>
</html>
