<h2> Awards </h2>

<ul>
  <% listOfAwards.forEach((oneAward) => { %>
      <li>
        <h2> <%= oneAward.award %> </h2>
        <p> Awarded to <%= oneAward.recipient %> </p>
      </li>
  <% }) %>
</ul>
