<!DOCTYPE html>
<!-- home.ejs -->
<html>
  <head>
    <meta charset="utf-8">
    <title> Hello, Express! </title>

    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <h1> Hello, Express! </h1>
    <a href="/about"> About Us </a>
    <img src="/images/pineapple.gif">

    <script src="/js/frontend.js"></script>
  </body>
</html>
